.carousel {
  display: flex;
  min-width: 325px;
  height: 100%;
  align-items: center;
}

.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 300px;
  justify-content: center;
  perspective: 300px;
}