.home__section {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 480px;
    margin-top: 60px;
    color: var(--seven);
    background-image: url('https://res.cloudinary.com/djc1umong/image/upload/v1629319124/backgroundSpa_1_1_dd0bde.webp');
    background-size: contain;
    background-repeat: round;
}

.home__container {
    position: relative;
    max-width: 464px;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
}

.home__subtitle {
    font-size: 48px;
    position: relative;
    font-weight: 700;
    line-height: 56px;
    margin: 0;
    margin-bottom: 1rem;
}
.home__subtitle span {
    color: #ec4887;
}
.home__anchor_container {
    position: sticky;
}

.home__anchor {
    border-radius: 7px;
    background-color: var(--four);
    padding: .55rem .8rem;
    width: 50%;
    height: 31px;
    display: grid;
    text-decoration: none;
    color: var(--five);
    font-weight: 300;
    place-content: center;
    text-align: center;
}

.hero__image {
    width: 270px;
    background-color: var(--six);
    object-fit: contain;
    box-shadow: inset 0 0 170px 0px var(--six),
                inset 0 0 60px 0px var(--nav);
    border-radius: 50%;
}

.portal {
    display: flex;
    position: fixed;
    bottom: 100px;
    right: 25px;
    z-index: 99;
    width: 270px;
    background: #ec4887;
    height: 31px;
    place-content: center;
    text-decoration: none;
    font-weight: 300;
    align-items: center;
    color: aliceblue;
    border-radius: 7px;
}
.portal span {
    margin-left: 4px;
    color: var(--cero);
}

@media only screen and (max-width: 768px) {
  .home__section {
      flex-direction: column-reverse;
      margin-bottom: 50px;
      padding-top: 60px;
  }

  .home__container {
      position: relative;
      border-radius: 12px;
      color: var(--five);
      top: -50px;
      background-color: var(--six);
      align-items: center;
      text-align: center;
  }
  .home__subtitle {
      font-size: 2.3rem;
      line-height: .9;
  }

  .home__subtitle span {
      color: var(--four);
  }

  .home__anchor {
      width: auto;
  }
  .portal {
      bottom: 50px;
  }
}
