.description {
 background-color: transparent;
 position: relative;
}

#description__container:nth-child(3) {
 flex-direction: row;
}

#description__container {
 display: flex;
 flex-direction: row-reverse;
 align-items: center;
 height: 100vh;
 border-bottom: 10px solid var(--three);
 margin-bottom: 1.5rem;
 justify-content: space-evenly;
}

.description_image {
 box-shadow: 0 0 2px 1px var(--four),
             0 0 16px 4px var(--three);
 border-radius: 15px;
 contain: strict;
}

.description__text {
 width: 345px;
 text-align: center;
}

.description__text_p {
 display: flex;
 flex-direction: column;
 padding: 10px;
}

.description__text_p p{
 margin: 0 auto;
}

.position {
 position: absolute;
 margin-left: 15vw;
 opacity: .2;
 bottom: 8px;
}

.description__p {
 font-size: 1rem;
 letter-spacing: .3px;
 width: 270px;
 margin: 0 auto;
 line-height: 1.2;
 text-align: center;
}

.description__container_services {
 display: flex;
 flex-direction: column;
 margin-top: 1.5rem;
 align-items: center;
 border: 10px solid rgba(0,0,0,.03);
 border-radius: 10px;
}
.description__services_title {
 color: var(--eight);
}

.description__services_desc {
 font-weight: 600;
 font-size: 1.1rem;
 text-align: center;
 flex-wrap: wrap;
 letter-spacing: .3px;
 text-align: center;
 width: 270px;
 max-width: 420px;
}

.description__services_price {
 font-weight: bolder;
 font-size: 2rem;
 background-color: rgba(0,0,0,.03);
}

.position:nth-child(1) {
}

.position:nth-child(2) {
 top: 10%;
 right: 15vw;
}
.position:nth-child(3) {
 right: 15vw;
}

.position:nth-child(4) {
 top: 10%;
 opacity: .2;
}
 
@media only screen and (max-width: 768px) {
 #description__container {
  flex-direction: column;
 }
 .position:nth-child(1) {
  display: none;
 }
 #description__container:nth-child(3) {
  flex-direction: column;
 }
}