.home__header {
  padding: 0 11vw;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: var(--nav);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(15px);
}

.home__title {
  font-size: 19px;
  margin: 0;
}

.home__title::before {
  content: ' ';
  position: absolute;
  width: 190px;
  height: 1px;
  background-color: var(--six);
}

.home__title span {
  color: var(--four);
}
  
  