*, html {
  --one: #87CFD6;
  --two: #00B9C6;
  --three: #F7BFD2;
  --four: #ea4c89;
  --five: #eef0f5;
  --six: #0d0c22;
  --seven: #FAFAFA;
  --eight: #540e5d;
  --nav: rgba(255,255,255,0.72);
  --mobileDevices: 480px;
  --Tablets: 768px;
  --shirt: #ad0b19;
}

#root {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: var(--five);
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background-color: #ea4c89;
}
ul {
 padding: 0;
}
p {
  line-height: 150%;
  font-size: large;
  text-align: start;
}

h2 {
  font-size: 42px;
  color: var(--six);
  width: 300px;
  margin: 0 auto;
  max-width: 420px;
}

#root section .layout__container:nth-child(1) {
  flex-direction: row;
  background-color: #0d0c22;
}